body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
    padding-top: 5%;
}
.restaurant{
    padding-top: 10%;
}
p{
    color: darkgrey;
    padding-bottom: 5%;
    padding-right: 20%;
}
.blog-1{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.food{
    color: #B36F66;
}
.half-width img{
    width: 80%;
    padding-left: 80px;
}
.button{
    background-image: linear-gradient(#f8f1f0ea, #CB8F8E);
    text-decoration: none;
    color: beige;
    border-radius: 30px;
    padding: 10px 10px;
}
.blog-2{
    display: flex;
    background-image: url(images/bg2.jpg);
    
}
.half-width-2{
    width: 50%;
}
.half-width-2 img{
    width: 80%;
}
.recipe{
    text-align: center;
    padding-top: 3%;
}
.blog-3 p{
    text-align: center;
    padding-left: 20%;
}
.my-recipe{
    display: flex;
    padding-left: 5%;
    
}
.triple-width{
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5%;
    border-radius: 25px;
    box-shadow: 2px 2px 30px lightgrey;
}
.triple-width img{
    width: 324px;
    height: 200px;
    border-radius: 25px;
}
.box{
    margin: 5%;
    padding-left: 2px;
    padding-right: 2px;
}
.share-fb img{
    width: 100px;
    height: 100px;
    padding-left: 5%;
}

.share img{
    width: 70px;
    height: 70px;
}
.like img{
    width: 70px;
    height: 70px;
    padding-left: 5%;
    padding-bottom: 4%;
}

h4{
    padding-top: 5%;
    padding-left: 3%;
}
footer{
    background-color: rgb(202, 171, 163);
    text-align: center;
    padding-top: 3%;
}
footer p{
    color: whitesmoke;
    padding-left: 20%;
}
